<nav class="layout-navbar" role="navigation">
	<div class="container">
		<router-outlet name="brand">
			<a class="layout-brand">Novel</a>
		</router-outlet>
		<router-outlet name="navigation">
			<ul class="layout-main-navigation">
				<li routerLinkActive="active"><a routerLink="/story" i18n>Story</a></li>
				<li routerLinkActive="active"><a routerLink="/characters" i18n>Characters</a></li>
			</ul>
		</router-outlet>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="layout-aside">
			<router-outlet name="aside-tools"></router-outlet>
			<router-outlet name="aside"></router-outlet>
		</div>
		<div class="layout-content">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="footer-content">
			<router-outlet name="footer"></router-outlet>
		</div>
	</div>
</div>

<xes-canvas class="layout-background"></xes-canvas>
