<nav class="layout-navbar" role="navigation">
	<div class="container">
		<a class="layout-brand">Novel</a>
		<ul class="layout-main-navigation">
			<li routerLinkActive="active"><a routerLink="/story" i18n>Story</a></li>
			<li routerLinkActive="active"><a routerLink="/characters" i18n>Characters</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="layout-aside">
			<ng-content select="[slot=side-bar]"></ng-content>
		</div>
		<div class="layout-content">
			<ng-content select="[slot=content]"></ng-content>
		</div>
	</div>
</div>

<xes-canvas class="layout-background"></xes-canvas>
