{
	"useTabs": true,
	"printWidth": 160,
	"tabWidth": 2,
	"singleQuote": true,
	"bracketSpacing": true,
	"trailingComma": "all",
	"jsxBracketSameLine": false,
	"parser": "typescript",
	"semi": true,
	"proseWrap": "preserve"
}
