<h3>{{ stage?.title }}</h3>
<p *ngIf="!isEdited" [@itemDescriptionState]>{{ stage?.content }}</p>

<div class="well" *ngIf="isEdited" [@itemState]>
	<xes-stage-form #form [data]="stage"></xes-stage-form>
</div>

<div class="btn-group">
	<a class="btn btn-default" (click)="edit()" *ngIf="!isEdited" i18n>Edit</a>
	<a class="btn btn-primary" (click)="update()" *ngIf="isEdited" i18n>Save</a>
	<a class="btn btn-default" (click)="cancel()" *ngIf="isEdited" i18n>Cancel</a>
	<a class="btn btn-danger" (click)="remove()" i18n>Remove</a>
</div>
