<h3>{{ chapter?.title }} <small>{{ chapter?.id }}</small></h3>
<ng-container *ngIf="!isEdited">
	<p>{{ chapter?.content }}</p>
</ng-container>

<div class="well" *ngIf="isEdited">
	<xes-chapter-form #form [data]="chapter" [edit]="true"></xes-chapter-form>
</div>

<div class="btn-group">
	<a class="btn btn-default" (click)="edit()" *ngIf="!isEdited" i18n>Edit</a>
	<a class="btn btn-primary" (click)="update()" *ngIf="isEdited" i18n>Save</a>
	<a class="btn btn-default" (click)="cancel()" *ngIf="isEdited" i18n>Cancel</a>
	<a class="btn btn-default" [routerLink]="['/story/chapter/item/', chapter?.id]" i18n>View</a>
	<a class="btn btn-danger" (click)="remove()" i18n>Remove</a>
</div>

<div class="well">
	<div class="panel panel-default">
		<ul class="list-group sortable-container" [attr.data-item-id]="chapter?.id"  [dragula]="dragListName" data-label="drag&drop" i18n-data-label>
			<li class="list-group-item" [attr.data-item-id]="item.index" *ngFor="let item of list | async; trackBy: listItemIdentity; let $index = index">
				<xes-stage-list-item
					[stage]="item.data"
					(updateSignal)="stagesService.update(item.index, $event)"
					(removeSignal)="stagesService.remove(item.index)"
				></xes-stage-list-item>
				<a class="sortable-handle glyphicon glyphicon-move" data-drag="stage"></a>
				<div class="text-right text-muted">
					<var>item id: {{ item.data?.id }}</var>
					<var>list index: {{ $index }} | {{ listItemIdentity($index, item) }}</var>
				</div>
			</li>
		</ul>
	</div>
</div>
