<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<a class="navbar-brand">Novel</a>
		<ul class="nav navbar-nav">
			<li routerLinkActive="active"><a routerLink="/story" i18n>Story</a></li>
			<li routerLinkActive="active"><a routerLink="/characters" i18n>Characters</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-xs-12 ">
			<ng-content select="[slot=side-bar]"></ng-content>
			<ng-content select="[slot=title-bar]"></ng-content>
			<ng-content select="[slot=content]"></ng-content>
		</div>
	</div>
</div>

