<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Add new story stage</h2>
	</div>
	<div class="panel-body">
		<xes-stage-form (onSubmitSignal)="onStoryStageAdd($event)"></xes-stage-form>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Story stages:</h2>
	</div>
	<div class="panel-body">
	</div>
	<ul class="list-group sortable" [dragula]="'stages'" data-label="drag&drop">
		<li class="list-group-item" *ngFor="let stage of stages | async; let $index = index">
			<h3>{{ stage.title }}</h3>
			<p>{{ stage.content }}</p>
			<a class="btn btn-default" (click)="onStoryStageRemove($index)">Remove</a>
		</li>
	</ul>
</div>
