<xes-primary-layout>
	<h1 slot="title-bar" i18n>Chapter {{ chapter.title }} stages</h1>

	<ng-container slot="side-bar">
		<xes-menu></xes-menu>
	</ng-container>
	<ng-container slot="content">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 i18n>Add new story stage</h2>
			</div>
			<div class="panel-body">
				<xes-stage-form #addForm [data]="templateStage | async" [showChapter]="false"></xes-stage-form>

				<a class="btn btn-primary" (click)="add()" i18n>Add</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h3>{{ chapter.title }}</h3></div>
			<ul class="list-group sortable" [dragula]="'stages'" data-label="drag&drop" i18n-data-label>
				<li class="list-group-item" [attr.data-item-id]="item.index" *ngFor="let item of list | async; trackBy: listItemIdentity; let $index = index" [@listState]>
					{{ item.data.content }}
					<a class="handle glyphicon glyphicon-move"></a>
				</li>
			</ul>
		</div>
	</ng-container>
</xes-primary-layout>
